@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Sobrevivente ao nosso Invetário</h1>
   <p>Utilize os recursos com responsabilidade e zelo</p>
</div>
<div class="row justify-content-around m-5">
    <div class="col-4">
        <a class="btn btn-outline-dark" asp-controller="Recursos" asp-action="Index">Recursos</a>
    </div>
    <div class="col-4">
        <a class="btn btn-outline-dark" asp-controller="Movimentacaos" asp-action="Index">Movimentações </a>
    </div>
</div>